@page "/About"
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to about page</h1>
    <a asp-page="./Hobbies">Hobbies</a>
</div>
